In [1]:
def thing():
    print('hello')
    print('fun')
thing()
print('zip')
thing()

hello
fun
zip
hello
fun

In [2]:
big = max('Hello world')
print(big)

w

In [3]:
tiny = min('Hello world')
print(tiny)

In [6]:
print(float(99)/100)

0.99

In [7]:
i=42
type(i)

int

In [9]:
f=float(i)
print(f)
type(f)

42.0

float

In [11]:
print(1+2*float(3)/4-5)

-2.5

In [14]:
sval='123'
type(sval)

str

In [15]:
print(sval +1)

TypeError: can only concatenate str (not "int") to str

In [16]:
ival = int(sval)
type(ival)

int

In [17]:
print(ival+1)

124

In [18]:
nsv = 'hello bob'
niv = int(nsv)

ValueError: invalid literal for int() with base 10: 'hello bob'

In [19]:
x=5
print('hello')
def print_lyrics():
    print("I'm a lumberjack and i am okay")
    print("I sleep all night and work all day")
print('yo')
x=x+2
print(x)

hello
yo
7

In [20]:
x=5
print('hello')
def print_lyrics():
    print("i am lumberjack and i am okay")
    print("i sleep all night and i work all day")
print('yo')
print_lyrics()
x=x+5
print(x)

hello
yo
i am lumberjack and i am okay
i sleep all night and i work all day
10

In [25]:
def greet():
    return"hello"
print(greet(),"Gleen")
print(greet(),"sally")

hello Gleen
hello sally

In [27]:
def greet(lang):
    if lang=='es':
        return 'Hola'
    elif lang == 'fr':
        return 'Bonjour'
    else:
        return'hello'
    
print(greet('en'),'Glenn')
print(greet('fr'),'Sally')
print(greet('es'),'Micheal')

hello Glenn
Bonjour Sally
Hola Micheal

In [28]:
def addTwo(a,b):
    added=a+b
    return added
x=addTwo(3,5)
print(x)

8